 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
   
body{
    font-family: 'Poppins',sans-serif;
    background-color: #f3f1ff;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #ffffff;
    width: 870px;
    padding: 33px;
    margin-top: 21px;
    border-radius:5px ;
}
.top-players{
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    
    
}

.player{
    display: flex;
    align-items: center;
}
.player_name{
    margin-left: 16px;
}
.player img{
    height: 56px;
    width: 56px;
}
/* blog style */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog img{
    width: 177px;
    height: 117px;
}
.blog_info{
    margin-left: 16px;
}
.blog_title{
    font-size: 20px;
}
.blog_author{
    color: #9f9f9f;
    font-size: 16px;
}
.blog_author a{
    text-decoration: none;
    font-size: 16px;
    color: #562eff;
}
.courses{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    
}
.course .course_photo img{
    width: 224px;
    height: 105px;
}
.fa-solid.fa-star.filled{
    color: gold;
}
.fa-solid.fa-star.empty{
    color: silver;
}